<header class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Not Another Budget App</a>
    </div>

    <nav class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li
          {{#compare viewName '==' 'transactions'}}
          class="active"
          {{/compare}}
        ><a href="/">Transactions</a></li>
        <li
          {{#compare viewName '==' 'budgets'}}
          class="active"
          {{/compare}}
        ><a href="/budgets">Budget</a></li>
        <li
          {{#compare viewName '==' 'import'}}
          class="active"
          {{/compare}}
        ><a href="/import">Import</a></li>
      </ul>
      {{#compare viewName '!=' 'import'}}
      <form id="set-date" class="navbar-form navbar-left">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="date-label">Date</span>
            <input type="text" name="current-date" class="form-control" placeholder="yyyy/mm" aria-describedby="date-label" value="{{ currentDate.year }}/{{ currentDate.month }}">
          </div>
        </div>
      </form>
      {{/compare}}
      {{#compare viewName '==' 'transactions'}}
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{#compare category '==' ''}}Category{{/compare}}
            {{ category }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#each categories}}
            <li>
              <a href="/cat/{{ this }}">{{ this }}</a>
            </li>
            {{/each}}
          </ul>
        </li>
      </ul>
      {{/compare}}
    </nav>

  </div>
</header>