<li data-id="{{ id }}" class="budget list-group-item row">
  <div class="col-xs-5">
    <span data-key="category" contenteditable="true">
      {{ category }}
    </span>
  </div>
  <div class="col-xs-3">
    <span data-key="amount" contenteditable="true">
      {{ money amount }}
    </span>
  </div>
  <div class="col-xs-2 text-right">
    <strong>({{ money totalSpent }})</strong>
  </div>
  <div class="col-xs-2 text-right">
    <strong
      {{#compare isOver "==" true}}
      class="budget-total label label-danger"
      {{/compare}}
      {{#compare isOver "==" false}}
      class="budget-total label label-success"
      {{/compare}}
    >
      {{ money remainder }}
    </strong>
  </div>
</li>